/*
 * BL brand / w3css 
 */
.bl-theme-dark{background-color: #7c7c7b!important;;color:white; }          /* dark grey    */ 
.bl-theme-mid{background-color: #a8a8a7!important;;color:white;}            /* mid grey     */ 
.bl-theme-light{background-color: #e8e8e7!important;:color:white;}          /* light grey   */ 
.bl-theme-accent1{background-color: #1177bb!important;:color:white;}        /* light grey   */ 
.bl-theme-accent2{background-color: #7c7c7b!important;:color:white;}        /* light grey   */ 

/*
 * Brand colour themes
 */
.bl-theme-dark-grey{background-color: #7c7c7b:color:white;}
.bl-theme-mid-grey{background-color: #a8a8a7:color:white;}
.bl-theme-light-grey{background-color: #e8e8e7:color:white;}

.bl-theme-dark-green{background-color: #3d5c12:color:white;}
.bl-theme-mid-green{background-color: #869f33:color:white;}

.bl-theme-dark-blue{background-color: #0f375c:color:white;}
.bl-theme-mid-blue{background-color: #1e6eb8:color:white;}

.bl-theme-dark-rose{background-color: #831c3d:color:white;}
.bl-theme-mid-rose{background-color: #da2f65:color:white;}

.bl-theme-dark-teal{background-color: #004853:color:white;}
.bl-theme-mid-teal{background-color: #00788b:color:white;}

.bl-theme-dark-purple{background-color: #2d1a36:color:white;}
.bl-theme-mid-purple{background-color: #7e3e98:color:white;}

.bl-theme-dark-orange{background-color: #551a01:color:white;}
.bl-theme-mid-orange{background-color: #d44202:color:white;}


.bl-header-border{border-bottom: 1px solid white;}
.bl-padding-left-off{padding-left: 0px;}
.bl-logo-height{height: 101px;}
.bl-logo-border{border-right: 1px solid white;}

.bl-body{background-color: #eee;;color:black;}
.bl-white{background-color: #fff;;color:black;}
.bl-pale-yellow{background-color: #ffffcc!important;color:black;}

.bl-content-height{min-height: 600px;}
.bl-fa-padding{padding-left:0.5em;}

body,h1,h2,h3,h4{font-family:arial,sans-serif}

legend {font-size: 1.7em;font-weight: 700;}

.main-page-img {position: absolute; left:0; z-index: -10; min-width: 976px; height: 455px; width: 100%; background-color: white;}
.main-page-img div {
  max-width: 1600px; margin: 0 auto; height: 455px; background-position: center top;
  /*background-image: url(images/background-bricks.png);*/
  /*background-image: url(images/bl-blue-head.png);*/
  background-image: url(/idp/images/bl-grey-head.png);
  opacity: 0.4;
}